@inject IUserService userService

@if (userService.IsCurrentUserAuthenticated())
{
    <li> @userService.GetCurrentUserFullName() </li>
    <ul class="header-links pull-right" >
        <li><a asp-controller="Auth" asp-action="Logout"><i class="fa-solid fa-sign-out fa-xl"></i> Logout</a></li>
        <li><a href="#"><i class="fa-solid fa-dollar fa-xl"></i> USD</a></li>
        <li><a asp-controller="" asp-action=""><i class="fa-solid fa-user-gear fa-xl"></i> My Account</a></li>
    </ul>
}
else
{

    <ul class="header-links pull-right" >
        <li><a asp-controller="Auth" asp-action="Register"><i class="fa-solid fa-user-plus fa-xl"></i> Register</a></li>
        <li><a asp-controller="Auth" asp-action="Login"><i class="fa-solid fa-right-to-bracket fa-xl"></i>Login</a></li>
    </ul>
}